@page
@model FUGoodsExchange.Pages.AdminHomePage.AdminHomePageModel
@{
    ViewData["Title"] = "Admin Home Page";
}

<h1>Welcome, Administrator!</h1>

<p>This is the admin home page where you can manage various functionalities:</p>

<ul>
    <li><a asp-page="/AdminPage/ManageAccountPage">Manage Accounts</a></li>
    <li><a asp-page="./ManageCategories/Index">Manage Categories</a></li>
    <li><a asp-page="./EditPersonalInformation">Edit Personal Information</a></li>
    <li><a asp-page="./ViewPostsByCategory">View Posts by Category</a></li>
    <li><a asp-page="./SearchItemsByCategory">Search Items by Category</a></li>
</ul>
